extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        //- The project title
        h1= project.project_name

        //- The project description
        p= project.description

      .project-tech-links-box.box
        h6 Technologies
        ul

          //- iterate over the technologies used for the project
          each technology in project.technologies
            li= technology

        //- Links to demo and github repo
        a.btn-link(href=project.live_link, target="_blank") Live Demo
        a.btn-link(href=project.github_link, target="_blank") GitHub Repo

    .project-img-box.box

      //- Add image related to the project 
      each image_url,index in project.image_urls
        if index > 0
          img.project-img(src=image_url, alt=project.project_name)

    nav.nav
      a(href='/')
        span &larr;
        |  Back
